<%- include('./partials/header.ejs')%>
<body>
    <div class="home">
    <h1>Contact Us</h1>
    <p>We can be reached Monday through Friday from 9:00 A.M. to 5:00 P.M.</p>
    <P>Email: campfyre@gmail.com</P>
    <p>Phone: 704-123-7263</p>
</div >
</body>
<%- include('./partials/footer.ejs')%>