<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Camp Fyre</title>
    <link rel="shortcut icon" href="/images/CampFyre-logos.jpeg">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<header class="site-header">
    <div class="site-identity">
      <a href="/images/CampFyre-logos.jpeg"><img src="/images/CampFyre-logos.jpeg" alt="Logo" /></a>
      <h1><a href="/">Camp Fyre</a></h1>
    </div>  
    <nav class="site-navigation">
      <ul class="nav">
        <%if(!user) {%>
          <a href='/users/new'>Sign Up</a>
          <a href='/users/login'>Login</a>
      <%} else {%>
          <a href="/events/new">New Event</a>
          <a href='/users/profile'>Profile</a>
          <a href='/users/logout'>Logout</a>
  <%}%>
      </ul>
    </nav>
  </header>
  <div class="headings">
    <ul class="nav2">
      <li><a href="/events">Events</a></li>
    </ul>
  </div>
<body>

  <% if(errorMessages.length > 0) {%>
    <% errorMessages.forEach(message=>{%>
        <div class='error'>
            <%=message%>
        </div>
        <%});%>
            <%}%>

                <% if(successMessages.length > 0) {%>

                    <% successMessages.forEach(message=>{%>
                        <div class='success'>
                            <%=message%>
                        </div>
                        <%});%>
                            <%}%>
