<footer>
    <a>&copy;Camp Fyre</a>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
        <a  href="https://validator.w3.org/check?uri=referer">HTML</a>
        <a  href="https://jigsaw.w3.org/css-validator/check/referer">CSS</a>
        <div class="social">
          <ul>
            <li><a href="#" class="fa fa-twitter" id="social"></a></li>
            <li><a href="#" class="fa fa-facebook" id="social"></a></li>
        </div>
        </ul>
    </footer>
