<header class="site-header">
    <div class="site-identity">
      <a href="/4166/project/static/images/CampFyre-logos.jpeg"><img src="/4166/project/static/images/CampFyre-logos.jpeg" alt="Logo" /></a>
      <h1><a href="#">Camp Fyre</a></h1>
    </div>  
    <nav class="site-navigation">
      <ul class="nav">
        <li><a href="/4166/project/newEvent.html">New Event</a></li> 
        <li><a href="#">Sign Up</a></li> 
        <li><a href="#">Log in</a></li> 
      </ul>
    </nav>
  </header>
  <div class="headings">
    <ul class="nav2">
      <li><a href="/4166/project/events.html">Events</a></li>
    </ul>
  </div>