<%- include('./partials/header.ejs')%>
    <div class="events">
        <dl>
            <dt>Hiking</dt>
            <dd><a href="/project/views/event.ejs"> Grandfather Mountain</a></dd>
            <dd><a href="/project/views/event.ejs"> Art Loeb Trail</a></dd>
            <dd><a href="/project/views/event.ejs"> Chminey Rock</a></dd>
            <dt>Camping</dt>
            <dd><a href="/project/views/event.ejs"> Lake James State Park</a></dd>
            <dd><a href="/project/views/event.ejs"> Mount Pisgah Campgrounds</a></dd>
            <dd><a href="/project/views/event.ejs"> Mount Mitchell State Park</a></dd>
        </dl>
    </div>
    <%- include('./partials/footer.ejs')%>