<%- include('./partials/header.ejs')%>
    <div data-include="components/header.html"></div>
    <div class="container">
        <div class="image">
            <h1>Grandfather Mountain</h1>
            <img src="/project/public/images/grandfather.jpg" alt="Grandfather">
        </div>
        <div class="text">
            <p>Host: John Smith</p>
            <p>Date and Time: Sat, May 13, 2023, 1:00 P.M. - 3:00 P.M. </p>
            <p>Location: Grandfather Mountain parking area</p>
            <p>Details: We will be doing the short mountain loop which should take about two hours. Please bring your
                own food and water.</p>
            <button type="button" class="edit">Edit</button>
            <button type="button" class="delete">Delete</button>
        </div>
    </div>
    <%- include('./partials/footer.ejs')%>