<%- include('./partials/header.ejs')%>
<body>
    <div class="home">
    <h1>About Us</h1>
    <p> We are a group of passionate individuals who are looking for others to enjoy the great outdoors with.</p>
    <p> Our goal is to one day multi national and have people all around the world using our website to makes friends.</p>
    </div>
</body>
<%- include('./partials/footer.ejs')%>